@font-face {
    font-family: 'icomoon';
    src:
        url('fonts/icomoon.ttf?49mnhm') format('truetype'),
        url('fonts/icomoon.woff?49mnhm') format('woff'),
        url('fonts/icomoon.svg?49mnhm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cal1_hover:before {
    content: "\e900";
}
.icon-cal2:before {
    content: "\e901";
}
.icon-home:before {
    content: "\e902";
}
.icon-last_matches_hover:before {
    content: "\e903";
}
.icon-photo:before {
    content: "\e904";
}
.icon-photo_hover:before {
    content: "\e905";
}
.icon-prediction_hover:before {
    content: "\e906";
}
.icon-statistic_hover:before {
    content: "\e907";
}
.icon-vacancies_hover:before {
    content: "\e908";
}
.icon-video_hover:before {
    content: "\e909";
}
.icon-video_rightbar:before {
    content: "\e90a";
}

